@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Montserrat&display=swap');

:root {
    --main-font-family: 'Rubik Mono One', sans-serif;
    --secondary-font-family: 'Montserrat', sans-serif;
    --main-font-color: white;
    --secondary-font-color: #323238;
    --main-bg-color: white;
    --secondary-bg-color: #000000;
    font-size: 8px;
    margin: 0;
    padding: 0;
}

.page-wrapper {
    display: grid; 
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100vh .75fr .25fr .75fr .1fr 1.25fr .1fr;
    margin: 0;
    padding: 0;
    background-image:linear-gradient(0deg, rgba(211, 211, 211, 0.4), rgba(211, 211, 211, 0.4)), url(Hero2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.navbar {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100vw;
    height: 8vh;
    border-bottom: 2px solid black;
    background-color: var(--secondary-bg-color);
    justify-items: end;
    position: fixed;
    padding-top: 10px;
    z-index: 2;
}

.nav {
    display: flex;
    justify-content: end;
}

li a {
    list-style: none;
    text-decoration: none;
    color: var(--main-font-color);
    font-size: 4rem;
    font-family: var(--secondary-font-family);
    padding-right: 10px;
    padding-left: 10px;

}

li a:hover {
    color: blue;
}

.hero {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 6;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background: transparent;
    margin-top: 20rem;
    font-family: var(--main-font-family);
    color: var(--main-font-color);
}

h1 {
    font-size: 10rem;
    letter-spacing: 2px;
}

p {
    font-family: var(--secondary-font-family);
    font-size: 4rem;
}

button {
    text-transform: uppercase;
    font-family: var(--secondary-font-family);
    font-size: 2rem;
    padding: 1rem;
    background-color: var(--main-bg-color);
    border: 1px solid var(--main-btn-bg-color);
    transition: 0.3s;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.424);
}

button:hover {
    cursor: pointer;
    text-decoration: line-through;
    background-color: blue;
}

h2.about-header {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
    align-self: start;
    font-family: var(--main-font-family);
    font-size: 7rem;
    color: var(--main-font-color);
}

.about {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
    align-self: center;
}

.bio-container {
    border: 2px solid black;
    border-radius: 10px;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.424);
    background-color: #d7dbde;
    padding: 4rem;
    overflow: scroll;
}

div.donate-btn {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: end;
    justify-self: center;
    margin-bottom: 10rem;
}

h2.music-header {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: center;
    align-self: start;
    font-size: 7rem;
    font-family: var(--main-font-family);
    color: var(--main-font-color);
    z-index: 1;
}

.background {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 5;
    background-image: linear-gradient(0deg, rgba(211, 211, 211, 0.4), rgba(211, 211, 211, 0.4)), url(cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.music-video {
    font-family: var(--main-font-family);
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 5;
    align-self: start;
    justify-self: center;
    display: flex;
    justify-content: space-around;
}

.music-audio {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

div.music-links {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 5;
    justify-self: center;
    align-self: end;
    color: var(--main-font-color);
}

.social-music {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 20vh;
}

h2.reviews-header {
    font-family: var(--main-font-family);
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6;
    justify-self: center;
    align-self: start;
    font-size: 7rem;
}

.reviews {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 7;
    font-family: var(--secondary-font-family);
    align-self: center;
    justify-self: center;
    border: 2px solid black;
    border-radius: 10px;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.424);
    overflow: scroll;
    padding: 3rem;
    margin-bottom: 7rem;
    background-color: #d7dbde;
}

footer {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 7;
    grid-row-end: 8;
    background-color: #000000;
    color: var(--main-font-color);
    font-family: var(--secondary-font-family);
    font-size: 2rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}