@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Montserrat&display=swap');


:root {
    --main-font-family: 'Rubik Mono One', sans-serif;
    --secondary-font-family: 'Montserrat', sans-serif;
    --main-font-color: white;
    --secondary-font-color: #323238;
    --main-bg-color: white;
    --secondary-bg-color: #000000;
    font-size: 8px;
    margin: 0;
    padding: 0;
}


.page-wrapper {
    display: grid; 
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1.4fr .25fr 1.5fr .1fr 1fr .1fr;
    margin: 0;
    padding: 0;
    background-image:linear-gradient(0deg, rgba(211, 211, 211, 0.4), rgba(211, 211, 211, 0.4)), url(Hero.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.navbar {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100vw;
    height: 8vh;
    border-bottom: 2px solid black;
    background-color: var(--secondary-bg-color);
    justify-items: end;
    position: fixed;
    z-index: 2;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.nav {
    display: flex;
    justify-content: flex-end;
}

li a {
    list-style: none;
    text-decoration: none;
    color: var(--main-font-color);
    font-size: 3rem;
    font-family: var(--secondary-font-family);
    padding-right: 10px;
    padding-left: 10px;

}

li a:hover {
    color: blue;
}

.hero {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 6;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background: transparent;
    margin-top: 20rem;
    font-family: var(--main-font-family);
    color: var(--main-font-color);
}

h1 {
    font-size: 10rem;
    letter-spacing: 2px;
}

p {
    font-family: var(--secondary-font-family);
    font-size: 4rem;
}

button {
    text-transform: uppercase;
    font-family: var(--secondary-font-family);
    font-size: 2rem;
    padding: 1rem;
    background-color: var(--main-bg-color);
    border: 1px solid var(--main-btn-bg-color);
    transition: 0.3s;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.424);
}

button:hover {
    cursor: pointer;
    text-decoration: line-through;
    background-color: blue;
}

.fas {
    margin-top: 30rem;
}

.hidden {
    height: 0px;
    visibility: hidden;
}

h2.about-header {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-self: center;
    align-self: center;
    font-family: var(--main-font-family);
    font-size: 7rem;
    color: var(--secondary-font-color);
    padding-top: 7rem;
}

.about {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
    align-self: center;
}

.bio-container {
    border: 2px solid black;
    border-radius: 10px;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.424);
    background-color: #d7dbde;
    padding-top: 0;
    padding-right: 4rem;
    padding-bottom: 4rem;
    padding-left: 4rem;
    overflow-y: scroll;
    height: 350px;
    font-family: var(--secondary-font-family);
}

.bio {
    font-size: 3.8rem;
}

.underline {
    text-decoration: underline;
    font-family: var(--secondary-font-family);
}

div.donate-btn {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: end;
    justify-self: center;
    margin-bottom: 10rem;
    
}

h2.music-header {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: center;
    align-self: start;
    font-size: 7rem;
    font-family: var(--main-font-family);
    color: var(--main-font-color);
    z-index: 1;
}

.background {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 5;
    background-image: linear-gradient(0deg, rgba(211, 211, 211, 0.4), rgba(211, 211, 211, 0.4)), url(logo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

iframe {
    padding-left: 3rem;
    padding-right: 3rem;
}

.music-video {
    font-family: var(--main-font-family);
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 5;
    align-self: start;
    justify-self: center;
    display: flex;
    justify-content: space-around;
}

.music-audio {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
    align-self: center;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 14rem;
}

div.music-links {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 5;
    justify-self: center;
    align-self: end;
    color: var(--main-font-color);
    margin-top: 7rem;
    margin-bottom: -2rem;
}


.social-music {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 20vh;
}

h2.reviews-header {
    font-family: var(--main-font-family);
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6;
    justify-self: center;
    align-self: start;
    font-size: 7rem;
}

.reviews {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 7;
    font-family: var(--secondary-font-family);
    align-self: center;
    justify-self: center;
    border: 2px solid black;
    border-radius: 10px;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.424);
    overflow-y: scroll;
    padding: 3rem;
    margin-bottom: 7rem;
    background-color: #d7dbde;
    height: 350px;
    font-size: 2rem;
}

footer {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 7;
    grid-row-end: 8;
    background-color: #000000;
    color: var(--main-font-color);
    font-family: var(--secondary-font-family);
    font-size: 2rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3 a {
    text-decoration: none;
    color: var(--main-font-color);
}

h3 a:hover {
    color: blue;
}

h4 a {
    text-decoration: none;
    color: var(--main-font-color);
}

h4 a:hover {
    color: blue;
}

@media only screen and (max-device-width: 900px) {

.page-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr .5fr .1fr 1.5fr .1fr .1fr 1fr .1fr;
    background-image:linear-gradient(0deg, rgba(211, 211, 211, 0.4), rgba(211, 211, 211, 0.4)), url(hero-mobile.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.navbar {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100vw;
    height: 2vh;
    border-bottom: 2px solid black;
    background-color: var(--secondary-bg-color);
    justify-items: end;
    align-items: center;
    position: fixed;
    z-index: 2;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

li a {
    list-style: none;
    text-decoration: none;
    color: var(--main-font-color);
    font-size: 1rem;
    font-family: var(--secondary-font-family);
    padding-right: 10px;
    padding-left: 10px;

}

li a:hover {
    color: blue;
}

.hero {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 4;
        justify-self: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: transparent;
        margin-top: 20rem;
        font-family: var(--main-font-family);
        color: var(--main-font-color);
    }
    
h1 {
        font-size: 4rem;
        letter-spacing: 2px;
}
    
p {
        font-family: var(--secondary-font-family);
        font-size: 1rem;
    }

    button {
        font-size: 1rem;
        padding: 1rem;
    }
    
    h2.about-header {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        justify-self: center;
        align-self: end;
        font-family: var(--main-font-family);
        font-size: 3rem;
        color: var(--secondary-font-color);
    }
    
    .about {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-self: center;
        align-self: start;
    }
    
    .bio-container {
        border: 2px solid black;
        border-radius: 10px;
        transition: 0.3s;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.424);
        background-color: #d7dbde;
        padding: 2rem;
        overflow-y: scroll;
        height: 100px;
        font-family: var(--secondary-font-family);
        font-size: 1rem;
    }
    
    div.donate-btn {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 4;
        align-self: end;
        justify-self: center;
        padding-bottom: 1rem;
    }
    

    h2.music-header {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 3;
        grid-row-end: 4;
        justify-self: center;
        align-self: center;
        font-size: 3rem;
        font-family: var(--main-font-family);
        color: var(--main-font-color);
        z-index: 1;
    }
    
    .background {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 6;
        background-image: linear-gradient(0deg, rgba(211, 211, 211, 0.4), rgba(211, 211, 211, 0.4)), url(logo.jpg);
    }
    
    iframe {
        padding-top: 2rem;
        padding-bottom: 2rem;
        width: 80vw;
        height: 100%;
       
    }
    
    .music-video {
        font-family: var(--main-font-family);
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;
        align-self: start;
        justify-self: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        max-height: 200px;
        margin: 0;
        padding: 0;
    }

    
    .music-audio {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;
        align-self: end;
        justify-self: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        max-width: 80vw;
        margin: 0;
        padding: 0;
    }
    
    div.music-links {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 6;
        justify-self: center;
        align-self: center;
        color: var(--main-font-color);
        font-size: 1rem;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 10vh;
    }
    
    p.links {
        font-size: 1rem;
    }
    
    .social-music {
        list-style: none;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    h2.reviews-header {
        font-family: var(--main-font-family);
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 6;
        grid-row-end: 7;
        justify-self: center;
        align-self: center;
        font-size: 3rem;
    }
    
    .reviews {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 7;
        grid-row-end: 8;
        font-family: var(--secondary-font-family);
        align-self: center;
        justify-self: center;
        border: 2px solid black;
        border-radius: 10px;
        transition: 0.3s;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.424);
        overflow-y: scroll;
        padding: 2rem;
        margin-bottom: 7rem;
        background-color: #d7dbde;
        height: 350px;
        font-size: 1rem;
    }

    footer {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 8;
        grid-row-end: 9;
        font-size: 5px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;

    }


}